/* text style */
.text-h1
{
    font-size: 64px !important;
    margin: 0;
    letter-spacing: 0.01rem;
}

.text-h2
{
    font-size: 32px !important;
    margin: 0;
    letter-spacing: 0.03rem;
}

.text-h3
{
    font-size: 24px !important;
    margin: 0;
    letter-spacing: 0.03rem;
}

.text-body
{
    font-size: 16px !important;
    margin: 0;
    letter-spacing: 0.03rem;
}

/* Other */
.object-cover {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

@media (max-width: 992px) {
    .max-w-sm-150 {
        max-width: 150px;
    }
}
  
@media (min-width: 992px) {
    .max-w-lg-310 {
        max-width: 310px;
    }
}

.max-w-body
{
    max-width: 1190px;
}

@media (max-width: 768px)
{
    .page-height
    {
        min-height: calc(100vh - 80px - 63px);
        height: fit-content;
        max-height: 400vh;
    }
}
  
@media (min-width: 768px) {
    .page-height
    {
        height: calc(100vh - 85px - 63px);
    }
}

.overflow-auto-y
{
    overflow-y: auto;
}