@charset "UTF-8";
/* CSS Document */
body, html {
    font-family: Montserrat, Helvetica, sans-serif;
    font-size: 16px;
}

:root,[data-bs-theme=light]{
	--bs-primary: #A3D063;
	--bs-header-primary-link-color: #191919;
	--bs-font-sans-serif:Montserrat,Helvetica,"sans-serif";
	--bs-link-color:#ffc226;
	--bs-link-color-rgb: 100, 76, 15;
	--bs-app-header-primary-base-bg-color:#ffc226;
	--bs-app-header-primary-sticky-bg-color: #ffc226;
	--bs-primary-light: #fff9eb;
	--bs-primary-rgb: 100, 76, 15;
	--bs-primary-inverse: #191919;
	--bs-primary-active: #feb600;
	--bs-text-primary: #A3D063;
    --bs-bg-primary: #A3D063 !important;
	--bs-dark: #191919;
	--bs-dark-rgb: 7, 20, 55;
	--bs-header-primary-link-bg-color: #F9F9F9;
    --bs-header-primary-link-color: #191919;
    --bs-header-primary-custom-btn-color:#191919;
	--bs-gray-900: #191919;
    --bs-btn-border-primary: #A3D063;
}

[data-bs-theme=dark]{--bs-link-color:#ffc226;
}
[data-kt-app-header-primary-enabled=true] {
        --bs-app-header-primary-height: 90px;
    }

.app-header-menu .menu>.menu-item.hover:not(.here)>.menu-link:not(.disabled):not(.active):not(.here),
  .app-header-menu .menu>.menu-item:not(.here)>.menu-link:hover:not(.disabled):not(.active):not(.here) {
    transition:color .2s ease;
    background-color:var(--bs-header-primary-link-bg-color);
    color:#191919;
  }
  .app-header-menu .menu>.menu-item.hover:not(.here)>.menu-link:not(.disabled):not(.active):not(.here) .menu-title,
  .app-header-menu .menu>.menu-item:not(.here)>.menu-link:hover:not(.disabled):not(.active):not(.here) .menu-title {
    color:#191919;
  }
  .app-header-menu .menu>.menu-item.show>.menu-link {
    transition:color .2s ease;
    color:#191919;
  }
  .app-header-menu .menu>.menu-item.show>.menu-link .menu-title {
    color:#191919;
  }
  .app-header-menu .menu>.menu-item.here>.menu-link {
    transition:color .2s ease;
    background-color:var(--bs-header-primary-link-bg-color);
    color:#191919;
  }
  .app-header-menu .menu>.menu-item.here>.menu-link .menu-title {
    color:#191919;
  }
  .app-header-menu .menu>.menu-item>.menu-link.active {
    transition:color .2s ease;
    background-color:var(--bs-header-primary-link-bg-color);
    color:#191919;
  }
  .app-header-menu .menu>.menu-item>.menu-link.active .menu-title {
    color:#191919;
  }
.link-primary:focus, .link-primary:hover {
    color: RGBA(25, 25, 25, var(--bs-link-opacity, 1)) !important;
    text-decoration-color:RGBA(25, 25, 25, var(--bs-link-underline-opacity, 1)) !important
}
.form-check-input:checked{background-color:#ffc226;border-color:#ffc226}
.form-check-input[type=checkbox]:indeterminate{background-color:#ffc226;border-color:#ffc226;}

.stepper.stepper-pills {
    --bs-stepper-icon-number-color: var(--bs-dark);
    --bs-stepper-icon-number-color-current: var(--bs-dark);
	--bs-stepper-label-title-color-current: var(--bs-dark);
}

.app-content {
	padding-top: 0px;
    padding-bottom: 0px;
}
.app-container {
	padding-left: 0px !important;
    padding-right:0px !important
}

.div-footer-dark {background-color: #191919;}
.rounded {
    border-radius: .25rem !important;
}
.rounded-4 {
    border-radius:0.5rem !important
}

/***
Google Maps
***/
#gmap {
    height:500px;
    width: 100%;
}

/*.gmaps {*/
/*    height: 400px;*/
/*    width: 100%;*/
/*    !* important!  bootstrap sets max-width on img to 100% which conflicts with google map canvas*! }*/
/*.gmaps img {*/
/*    max-width: none; }*/

#gmap_static div {
    background-repeat: no-repeat;
    background-position: 50% 50%;
    height: 100%;
    display: block;
    height: 300px; }

#gmap_routes_instructions {
    margin-top: 10px;
    margin-bottom: 0px; }


.horizontal-scrollable > .ts-results-wrapper {
    overflow-x: auto;
    white-space: nowrap;
}

.horizontal-scrollable > .ts-results-wrapper > .ts-result-link {
    display: inline-block;
    float: none;
}


::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--bs-primary)
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

#datepicker {
    display: inline-block;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}
#pb_cn_cu_patient option:disabled {
    color: #9e9e9e;
    font-style: italic;
}
#pb_cn_cu_patient option:enabled {
    color: #000;
    font-weight: bold;
}

.btn-blue {
    --bs-btn-color:#000000;
    --bs-btn-bg:#00b2ff;
    --bs-btn-border-color:#00b2ff;
    --bs-btn-hover-color:#000000;
    --bs-btn-hover-bg:#26beff;
    --bs-btn-hover-border-color:#1abaff;
    --bs-btn-focus-shadow-rgb:0,151,217;
    --bs-btn-active-color:#000000;
    --bs-btn-active-bg:#33c1ff;
    --bs-btn-active-border-color:#1abaff;
    --bs-btn-active-shadow:inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color:#000000;--bs-btn-disabled-bg:#00b2ff;
    --bs-btn-disabled-border-color:#00b2ff
}

/* Custom CSS */
.border-primary
{
    border-color: var(--bs-primary) !important;
}

.bg-user-primary
{
    background-color: #A3D063;
}

.link-primary:hover
{
    color: var(--bs-primary) !important;
}